<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OBJScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <OBJScanner.Properties.Settings>
            <setting name="InputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanSubfolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReplicateOutputStructure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Python" serializeAs="String">
                <value />
            </setting>
            <setting name="Alignment" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="Binary" serializeAs="String">
                <value>True</value>
            </setting>
        </OBJScanner.Properties.Settings>
    </userSettings>
</configuration>
